body {
	background-color:  #ffffff;
}
a {
	text-decoration: none;
}
.logo {
	position: absolute;	
	width: 20%;
	height: 15%;
	left:10%;
	top: 3%;
	# background-color: #293133;
}

.branches {
	position: absolute;	
	width: 25%;
	height: 15%;
	left: 25%;
}

#branches_text, #booking_text, #personal_account_text, h3 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    color: #434B4D;
}

#branches_text {
    margin-left: 40%;
	margin-top: 10%;
	text-transform: uppercase;
	font-size: 20px;
}

.booking {
	position: absolute;	
	width: 25%;
	height: 15%;
	left: 47%;
	# background-color: #8D917A;
}

#booking_text {
	margin-left: 35%;
	margin-top: 10%;
	text-transform: uppercase;
	font-size: 20px;
}

.personal_account {
	position: absolute;	
	width: 25%;
	height: 15%;
	left: 75%;
	# background-color: #B8B799;
}

#personal_account_text {
	margin-left: 10%;
	margin-top: 10%;
	text-transform: uppercase;
	font-size: 20px;
}
/*Основная часть*/
.main {
    position: absolute;
    background-color: #434B4D;
    width: 80%;
    height: 150%;
    top: 20%;
	left: 10%;
}
#booking_1 {
    position: absolute;
    # background-color: beige;
    width: 100%;
    height: 30%;
}
#booking_h3_1 {
    position: absolute;
    line-height: 20px;
    margin-left: 37%;
    margin-top: 2%;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
}
#booking_p_1 {
    position: absolute;
    color: #A5A5A5;
    margin-left: 51%;
    margin-top: 1.9%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    display: flex;
}
.booking_code_1 {
    position: absolute;
    background-color: #b36a5c;
    width: 10%;
    height: 10%;
    margin-left: 90%;
    margin-top: -2%;
	padding-top: 1%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    text-transform: uppercase;
    color: white;
	vertical-align:middle;
}
.booking_price_1 {
	position: absolute;
	background-color: #b36a5c;
	width:10%;
	height: 10%;
	margin-left: 90%;
	margin-top: -8%;
	padding-bottom: 1.5%;
}
#booking_price_1_p_1, #booking_price_1_p_2,.booking_1_button, .booking_1_button_re {
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    text-transform: uppercase;
    color: white;
	vertical-align:middle;
}
#booking_price_1_p_2 {
	color: #E5E4E2;
	margin-left: 35%;
}
#list_info {
	# background-color: #49423D;
	width: 20%;
	height: 100%;
	margin-left:60%;
	margin-top: -3%;
	position: absolute;
    color: #A5A5A5;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 10px;
    display: flex;
}
.booking_1_button {
	position: absolute;
	background-color: #b36a5c;
	width:10%;
	height: 10%;
	padding-top: 1%;
	padding-left: 0.5%;
	margin-left: 88%;
	margin-top: 6%;
	border-radius: 5px;
}
.booking_1_button_re {
	position: absolute;
	background-color: #b36a5c;
	width:16%;
	height: 10%;
	padding-top: 1%;
	padding-left: 0.5%;
	margin-left: 82%;
	margin-top: 12%;
	border-radius: 5px;
}
#booking_2 {
    position: absolute;
    background-color: beige;
    width: 100%;
    height: 30%;
}
#booking_h3_2 {
    position: absolute;
    line-height: 20px;
    margin-left: 37%;
    margin-top: 2%;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
}
#booking_p_2 {
    position: absolute;
    color: #A5A5A5;
    margin-left: 51%;
    margin-top: 1.9%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    display: flex;
}
.booking_code_2 {
    position: absolute;
    background-color: #b36a5c;
    width: 10%;
    height: 10%;
    margin-left: 90%;
    margin-top: -2%;
	padding-top: 1%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    text-transform: uppercase;
    color: white;
	vertical-align:middle;
}
.booking_price_ {
	position: absolute;
	background-color: #b36a5c;
	width:10%;
	height: 10%;
	margin-left: 90%;
	margin-top: -8%;
	padding-bottom: 1.5%;
}
/*Подвал*/
.footer {
	position: absolute;
	width: 100%;
	height: 50%;
	background-color: #293133;
	top: 200%;
}
ul {
	line-height: 60px;
}
#dd_h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    display: flex;   
}
#list_1 {
	position: absolute;
	# background-color: #A5A5A5;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-left: 6%;
	margin-top: 4%;
	width: 20%;
	font-family: arial;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 60px;
    display: flex;
	color: #DCDCDC;
}
#list_2 {
	position: absolute;
	# background-color: #B8B799;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-left: 30%;
	margin-top: 3.8%;
	width: 20%;
	font-family: arial;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 60px;
    display: flex;
	color: #DCDCDC;
}
#image_VK {
	position: absolute;
	margin-left: 0;
	margin-top: 15%;
	width: 50px;
	height: 50px;
}
#image_TWIT {
	position: absolute;
	margin-left: 20%;
	margin-top: 17%;
	width: 35px;
	height: 35px;
}
#image_YOUTUBE {
	position: absolute;
	margin-left: 35%;
	margin-top: 16%;
	width: 40px;
	height: 40px;
}
#image_facebook {
	position: absolute;
	margin-left: 50%;
	margin-top: 16%;
	width: 35px;
	height: 35px;
}
#list_3 {
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-left: 52%;
	margin-top: 3.8%;
	width: 20%;
	font-family: arial;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 60px;
    display: flex;
	color: #DCDCDC;
}
#mastercard {
	position: absolute;
	margin-left: 0;
	margin-top: 16%;
	width: 180px;
	height: 140px;
}
#p_3 {
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-left: 50%;
	margin-top: 28%;
	width: 45%;
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 20px;
    display: flex;
	color: #DCDCDC;
	text-align: justify;
}
#list_4 {
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-left: 82%;
	margin-top: 3.8%;
	width: 20%;
	font-family: arial;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 60px;
    display: flex;
	color: #DCDCDC;
}
#mobile {
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-left: 0%;
	margin-top: 20%;
	width: 45%;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 20px;
    display: flex;
	color: #DCDCDC;
	text-align: justify;
}

/* Кнопка для открытия */
.css-modal-checkbox, .sign-modal-checkbox, .booking_button, .branches_button {
    display: inline-flex;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;    
}
.css-modal-checkbox:hover, .sign-modal-checkbox:hover, .booking_button:hover, .branches_button:hover,
.css-modal-checkbox:active, .sign-modal-checkbox:active, .booking_button:active, .branches_button:active,
.css-modal-checkbox:focus, .sign-modal-checkbox:focus, .booking_button:focus, .branches_button:focus {
    color: #FFF;
}
.css-modal-checkbox:before, .sign-modal-checkbox:before, .booking_button:before, .branches_button:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #A5A5A5;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.css-modal-checkbox:hover:before, .sign-modal-checkbox:hover:before, .booking_button:hover:before, .branches_button:hover:before,
.css-modal-checkbox:active:before, .sign-modal-checkbox:active:before, .booking_button:active:before, .branches_button:active:before,
.css-modal-checkbox:focus:before, .sign-modal-checkbox:focus:before, .booking_button:focus:before, .branches_button:focus:before {
    transform: translateX(0);
}
 
/* Контейнер, который затемняет страницу */
#css-modal-checkbox + .cmc, #sign-modal-checkbox + .cmc {
    display: none;
}
#css-modal-checkbox:checked + .cmc, #sign-modal-checkbox:checked + .cmc {
    display:flex;
    align-items:center;
    justify-content:center;    
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(41, 49, 51, 0.9);
}
 
/* Модальное окно */
#css-modal-checkbox:checked + .cmc .cmt, #sign-modal-checkbox:checked + .cmc .cmt {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    padding: 20px;
    width:80%;
    max-width: 600px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    text-align: center;
    animation: scale 0.5s ease;
}
#sign-modal-checkbox {
	height: 300px;
}
#register_button, #sign_button {
    display: inline-flex;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
	margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;    
}
#register_button:hover,
#register_button:active,
#register_button:focus, #sign_button:hover, #sign_button:active, #sign_button:focus {
    color: #FFF;
}
#register_button:before, #sign_button:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #A5A5A5;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
#register_button:hover:before, #sign_button:hover:before,
#register_button:active:before, #sign_button:active:before,
#register_button:focus:before, #sign_button:focus:before {
    transform: translateX(0);
}
#or {
	margin-left: 48%;
}
 
/* Кнопка с крестиком закрывающая окно */
.css-modal-close {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 12px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-color: #FFF;
    background-size: cover;
    cursor: pointer;
}
#register_h1, #sign_h1 {
	position: relative;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 80%;
	margin-top: 0;
    font-style: normal;
    font-weight: 550;
    text-transform: uppercase;
	font-size: 20px;
    line-height: 60px;
    display: flex;
	color: #383838;
}
#register_h1 {
	margin-left: 23%;
}
#sign_h1 {
	margin-left: 28%;
}
.container {
    padding: 16px;
    background-color: white;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=date], input[type=time] {
    position: absolute;
    width: 10%;
    padding: 20px;
    margin: -2% 0 0 50%;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.label {
    margin-left: 37%;
	margin-top: -5%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 5px;
    display: flex; 
    color: whitesmoke;

}
/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: left;
}